table{
    margin: 0 auto;
    width: 100%;
    border: 1px solid black;
    border-collapse: collapse;
}

th,td{
    width:20%;
    height: 40px;
    text-align: center;
    border: 1px solid black;
}
#good_list tr,td{
    width:20%;
    height: 40px;
    text-align: center;
    border: 1px solid black;
}
.inputNumber{
    margin: 0 auto;
    width: 100px;
    height: 30px;
    padding: 0;
    font-size: 15px;
}
#car_table th,td{
    width: 16.6%;
    height: 40px;
    text-align: center;
    border: 1px solid black; 
}
#car_good_list tr,td{
    width: 16.6%;
    height: 40px;
    text-align: center;
    border: 1px solid black;   
}
#car_good_list button{
    width: 20px;
    height: 20px;
    text-align: center;
}

#look_up{
    text-align: center;
}
#look_up_car{
    width: 100px;
    height: 40px;
    text-align: center;
}
#car{
    display: none;
}
#buy_list{
    text-align: center;
}
#buy{
    text-align: center;
}